.selected,
.selected:hover {
  background-color: #d0b8a8;
}

.highlighted-row {
  cursor: pointer;
}

.highlighted-row:hover {
  background-color: #dfd3c3;
}

.table {
  background-color: #f8ede3;
  border: 2px solid #000000;
  opacity: 0.9;
  border-collapse: collapse;
}

.details {
  column-span: all;
  padding: 25px;
  border: 2p #000000;
  margin: 10px;
}
td {
  padding: 10px;
}

td,
th {
  border-bottom: 1pt solid black;
}
